input{
    border-radius: 5px;
    font-size: 32px;
    padding: 4px;
    display: block;
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin: 24px auto;
}
ul{
    list-style-type: none;
    font: 400 15px / 24px Roboto, "Helvetica Neue", sans-serif;
    li{
        label{
            color: white;
            background: #EA556C;
            margin: 4px;
            padding: 4px;
            display: block;
            text-align: center;
        }
        div{
            overflow: hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
            width:100%;
            display:inline-block;
            span{
                background: #8074AD;
                display: inline-block;
                padding: 4px 8px;
                margin: 4px;
                color: white;
                border: 2px solid #2a6b97;
            }
        }
        
    }
}